.elements__like_active {
  background-image: url('../../../images/Vector.svg');
  width: 22px;
  height: 19px;
  border: none;
  opacity: 1;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
}