.header__logo {
  padding-bottom: 41px;
  max-width: 142px;
  min-height: 33px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    padding-bottom: 25px;
    width: 103px;
    height: 24px;
  }
}