.elements__like {
  background-image: url(../../../images/Vector.svg);
  width: 22px;
  height: 19px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  transition: opacity .3s ease;
  cursor: pointer;
}

.elements__like:hover {
  opacity: .5;
}

/*.elements__like_active {
  background-image: url(../../../images/Union.svg);
  opacity: .6;
}*/