.profile__info-job {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 8px 0 0 0;
  padding: 0;
  text-align: start;
  color: #FFFFFF; 
}
  
@media screen and (max-width: 767px) {
 .profile__info-job {
    grid-column: 1/3;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
    margin: 0;
  }
}